<head>
  <title>BUNTRA</title>
  <meta charset=utf-8 />
  <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container">
  <div class="span9">
      <h2>About</h2>
      This site has been designed so that it is in aid of the long reading of English

      <br>
      <br>
      author: yonetin
      <br>
      mail:yonekou1110(@)gmail.com
      <br>
    </div>
 </div>
