  <head>
    <title>BUNTRA</title>
    <meta charset=utf-8 />
    <link href="../css/bootstrap.min.css" rel="stylesheet">
  </head>
  <div class="container">
    <div class="span9">
<form action="/translate" method="post">
  <label for="translate">Please press the button when you put a check in the word you do not know       
    <button type="submit" value="Translate" class="btn" align="right">Translate</button>
    </label>
    <input type="hidden" value="<%= @id %>" name="id">
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Words</th>
        <th>〜times</th>
        <th>Checkbox</th>
      </tr>
      </thead>
  <% @counters.each do |k,v| %>
    <tr><td><%= k %></td></td>
    <td><%= v %></td>
    <td align="center"><input type="checkbox" name="content[]" value="<%= k %>"></td>
  <% end %>
</tr>
</table>
</div>
</form>

</div>
</div>

<script type="text/javascript">
      function escapeHTML(s) {
        return $('<div>').text(s).html();
      }
$(function(){
    $("#translate-word").click(function(){
      var $word = $('*[name=check]:checked');
      var wordList = $word.map(function(index, el) { return $(this).val(); });
      alert(wordList);
      var request = $.ajax({
          type: "POST",
          url: "/translate",
          data: {
          word: wordList
            }
            });
            });
        });
      </script>
