<p>Are you sure you want to delete:</p>
<blockquote><p><%= @d_tango.word %></p></blockquote>
<form action="/delete/<%= @d_tango.id %>" method="POST">
   <button type="submit" class="btn btn-primary" name="ok">OK</button>
   <button type="submit" class="btn" name="cancel">Cancel</button>
   </form>
