<html>
  <body>
        <form action="/" method="post">
          <input type="text" name="content">
          <input type="submit">
        </form>

        <table>
    <% @contents.each do |content| %>
      <tr><td><%= content.content[0,200] %></td>
      <td><a href="/content/<%= content.id %>">文字数カウント</a></td>
      </tr>
      <% end %>
    </table>
 
  </body>
</html>
