<head>
  <title>BUNTRA</title>
  <meta charset=utf-8 />
  <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container">
  <div class="span9">
      <h2><%= @texts.title %></h2>
      <%= @texts.content %>
      <br><br>
    </div>
    <br><br>

    <br>
    <div class="span9">
      <table class="table">
        <thead>
          <tr>
          <th>Words</th>
          <th>Meaning</th>
          </tr>
        </thead>
        <% @do_not_know_word.each do |t| %>
          <tr>
            <td><%= t.word %></td>
            <td><%= t.mean1 %></td>
          </tr>
        <% end %>
      </table>
      </div>
 </div>
